html{
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
     user-select: none;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.inputs{
    display: flex;
}
img{
    margin-right: 150px;
    max-height: 250px;
}
.mainBox{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
    padding: 50px 20px;
}

.canvas{
    width: 250px;
    color: white;
    height: 200px;
    border-radius: 8px;
    border: 1px solid white;
}
.input{
    display: flex;
}
.tableChart h3{
    margin: 0px;
    padding: 10px;
    border: 1px solid black;
}